/*
 * Contact Form
 *
 */

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}


/*
 * Form Styles
 *
 */
 
/* Limit the width for readability  */
form {
  max-width: 600px;
  margin: 0; /* optionally add 'auto' to center */
}

textarea {
  resize: none;
}

/* 
 * The button is the width of the form
 * to look better on devices
 *
 */
button {
  width: 100%;
}


/*
 * Submit status
 *
 */
 
.text-danger {
  color: #dd0303f6;
  text-align: center;
  margin-top: 15px;
}

.text-success {
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
