/*
 * Global settings
 *
 */
#root {
  margin: 0 auto;
  text-align: justify;
}

/* Coolers:
 *    https://coolors.co/fc440f-ebcfb2-637a91-c1a68c-203952*/
:root {
  --light-color: #ebcfb2;
  --secondary-color: #637a91;
  --accent-color: #c1a68c;
  --primary-color: #203952;
  --dark-color: #2D3047;
  /* the portfolio content links need to work for both dark and light image
     backgrounds */
  --content-color: #fc440f;
  --content-light-color: #f6896a;
  /* brighten the default error/success colors for the darker background */
  --error-color: #f79890;
  --success-color: #74fd05;
}

body {
  background-color: var(--primary-color);
  color: whitesmoke;
}

p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 1rem;
}

.resume-caption {
  color: var(--accent-color);
}

.page-title {
  color: var(--accent-color);
}

/*
 * Nav bar settings
 *
 */
.navbar {
  background-color: var(--secondary-color);
  padding: 10px;
}

.navbar-name {
  color: var(--accent-color);
  font-weight: bold;
  font-style: italic;
}

/* inactive links */
.navbar .nav-link {
  color: var(--primary-color);
}

/* active links */
.navbar .nav-link.active {
  background-color: inherit;
  color: var(--accent-color);
}

/* inactive links */
.navbar .nav-link:hover {
  color: var(--light-color);
}

/*
 * Footer settings
 *
 */
.icon {
  background-color: inherit;
  color: var(--accent-color);
  font-size: 3rem;
  margin-right: 3rem;
}

.icon:hover {
  color: var(--light-color);
}

/*
 * Resume Page
 *
 */

/* 
 * Bootstrap overrides the body styling for these list items.
 * Intentinally restore them here
 */
.list-group-item {
  background-color: inherit !important;
  color: inherit !important;
}

/*
 * @ Rules
 *
 */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
