/*
 * Global settings
 *
 */
#root {
  margin: 0 auto;
  text-align: justify;
}

body {
  background-color: #eff8e2;
  color: #23022e;
}

p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 1rem;
}

.resume-caption {
  color: #2e0227;
}

/*
 * Resume Page
 *
 */

/* 
 * Bootstrap overrides the body styling for these list items.
 * Intentinally restore them here
 */
.list-group-item {
  background-color: inherit !important;
  color: inherit !important;
}

.logo {
  height: 6rem;
  padding: 1.5rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2rem #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2rem #61dafbaa);
}

/*
 * Nav bar settings
 *
 */
.navbar {
  background-color: #cecfc7;
  padding: 10px;
}

.navbar-name {
  font-weight: bold;
  font-style: italic;
}

/* inactive links */
.navbar .nav-link {
  color: #eff8e2;
}

/* active links */
.navbar .nav-link.active {
  background-color: inherit;
  color: #23022e;
}

/* inactive links */
.navbar .nav-link:hover {
  color: #573280;
}

/*
 * Footer settings
 *
 */

.icon {
  background-color: inherit;
  color: #23022e;
  font-size: 3rem;
  margin-right: 3rem;
}

.icon:hover {
  color: #573280;
}

/*
 * @ Rules
 *
 */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}
